<div class="ui pointing menu">
  <div class="header item">
    Huayra
  </div>

  {{#link-to "distributions" class="item"}}Distribuciones{{/link-to}}
  {{#link-to "about" class="item"}}Acerca de ...{{/link-to}}

<!--
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
-->
</div>
