<td class="">{{#link-to "packages.showVersion" version.distribution package}}{{package}}{{/link-to}}</td>
<td class="collapsing">{{version.version}}</td>
<td class="collapsing">
  {{#link-to "distributions.show" version.distribution}}{{version.distribution}}{{/link-to}}
</td>
<td class="collapsing">{{version.archs}}</td>
