body {
  padding: 10px;
}


.repo-loader-container {
  padding: 50px;
}

.page-container {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 500px;
}

.footer {
  padding: 2em;
  text-align: center;
  color: gray;
}


.repo-breadcrumbs-container {
}

tr.selected {
  background-color: #e5f2f3 !important;
}
