{{#link-to "index" class="ui button"}}Regresar{{/link-to}}

{{outlet}}

<h3>Lo siento, falló la petición a la API.</h3>

<p>Si estás usando el fixture de prueba, tené en cuenta que no incluímos muchos
  datos ahí, solo los mínimos de prueba.</p>
