<h1 class="ui header">Acerca de ...</h1>

<p>Huayra Repo Frontend es una interfaz que nos permite
visualizar los repositorios del proyecto huayra, con sus respectivos
paquetes y versiones.</p>

<p><img src="icon-large.png"></p>

<p>Este proyecto se puede usar, modificar y distribuir libremente. Mirá
<a href="https://github.com/HuayraLinux/repo-frontend" target=_blank>nuestro repositorio</a> para más información.</p>


{{outlet}}
